spring:
  datasource:
    url: ${MED_REH_DB_URL}
    username: ${MED_REH_DB_USERNAME}
    password: ${MED_REH_DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate.default_schema: mrschema
  flyway:
    schemas: mrschema
  activemq:
    broker-url: ${MED_REH_BROKER_URL}
  main:
    banner-mode: off

logging:
  level:
    com.telekom.javaschool.medicalrehapp: DEBUG