<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Events</title>
    <div th:replace="doc-style :: content"></div>
    <script src="../static/js/datatables.min.js" th:src="@{/js/datatables.min.js}"></script>
    <script src="../static/js/moment.js" th:src="@{/js/moment.js}"></script>
    <script src="../static/js/events.js" th:src="@{/js/events.js}"></script>
    <link rel="stylesheet" href="../static/css/datatables.min.css" th:href="@{/css/datatables.min.css}">
</head>
<body class="d-flex flex-column">
    <div th:replace="header :: content"></div>
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-sm-2 text-start m-2">
                        <h2>Events</h2>
                    </div>
                    <div class="col-sm text-end m-2">
                        <input type="radio" name="event-time" class="btn-check" id="all-time"
                               value="0" checked>
                        <label class="btn btn-outline-primary m-1" for="all-time">All events</label>
                        <input type="radio" name="event-time" class="btn-check" id="next-hour"
                               value="1">
                        <label class="btn btn-outline-primary m-1" for="next-hour">Next hour</label>
                        <input type="radio" name="event-time" class="btn-check" id="today"
                               value="24">
                        <label class="btn btn-outline-primary m-1" for="today">Today</label>
                    </div>
                    <div class="col-sm text-end m-2">
                        <div id="status">
                            <input type="checkbox" id="scheduled" name="status" value="SCHEDULED" class="btn-check" checked>
                            <label for="scheduled" class="btn btn-outline-primary m-1">Scheduled</label>
                            <input type="checkbox" id="completed" name="status" value="COMPLETED" class="btn-check" checked>
                            <label for="completed" class="btn btn-outline-primary m-1">Completed</label>
                            <input type="checkbox" id="canceled" name="status" value="CANCELED" class="btn-check" checked>
                            <label for="canceled" class="btn btn-outline-primary m-1">Canceled</label>
                        </div>
                    </div>
                </div>
                <table id="eventTable" class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Time</th>
                            <th scope="col">Patient</th>
                            <th scope="col">Treatment</th>
                            <th scope="col">Status</th>
                            <th scope="col">Cancel reason</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="footer :: content"></div>
</body>
</html>