<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<body>
    <div class="header-blue" th:fragment="content">
        <nav class="navbar navbar-dark navbar-expand-md">
            <div class="container"><a class="navbar-brand" href="/">Medical Rehapp</a>
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-1">
                    <span class="sr-only">Menu</span>
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item" role="presentation">
                            <a class="nav-link" th:href="@{/about}">About</a>
                        </li>
                        <li class="dropdown" sec:authorize="isAuthenticated()">
                            <a class="dropdown-toggle nav-link" data-bs-toggle="dropdown"
                               aria-expanded="false" href="#">Information</a>
                            <div class="dropdown-menu" role="menu">
                                <a class="dropdown-item" role="presentation" th:href="@{/treatment}">Procedures</a>
                                <a class="dropdown-item" role="presentation" th:href="@{/doctor}">Our doctors</a>
                                <a class="dropdown-item" role="presentation"
                                   sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/user}">Users</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav me-2">
                        <li class="nav-item">
                            <div sec:authorize="isAuthenticated()" class="navbar-text text-white me-2">
                                Logged in as: <span th:text="${#authentication.name}"></span>
                                <span th:text="${', ' + #strings.toLowerCase(#strings.replace(#authentication.authorities, 'ROLE_', ''))}"></span>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="isAnonymous()">
                                <a th:href="@{/login}" class="navbar-text btn">Log In</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="isAnonymous()">
                                <a class="btn btn-light action-button" role="button" th:href="@{/user/add}">Sign Up</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <div sec:authorize="isAuthenticated()">
                                <form th:action="@{/logout}" method="post">
                                    <input type="submit" value="Log Out" class="btn btn-light action-button">
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script src="../static/js/jquery-3.6.0.min.js" th:src="@{/js/jquery-3.6.0.min.js}"></script>
    <script src="../static/js/bootstrap.bundle.min.js" th:src="@{/js/bootstrap.bundle.min.js}"></script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/common-style.css" th:href="@{/css/common-style.css}">
</body>
</html>