<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <link rel="stylesheet" href="../static/library/bootstrap.min.css" th:href="@{/library/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/style.css" th:href="@{/style.css}">
</head>
<body>
    <div th:switch="${doctors}">
        <h2 th:case="null">No users yet!</h2>
        <div th:case="*">
            <h2>Doctors</h2>
            <table class="table">
                <thead>
                <tr>
<!--                    <th scope="col">#</th>-->
                    <th scope="col">Name</th>
<!--                    <th scope="col">Version</th>-->
                </tr>
                </thead>
                <tbody>
                <tr th:each="doctor : ${doctors}">
<!--                    <td th:text="${doctor.id}"></td>-->
                    <td th:text="${doctor.name}"></td>
<!--                    <td th:text="${doctor.version}"></td>-->
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/signup">Add a new user</a></p>
    </div>
</body>
</html>