<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
    <div th:replace="doc-style :: content"></div>
</head>
<body class="d-flex flex-column">
    <div th:replace="header :: content"></div>

    <div id="page-content">
        <div class="container w-50 p-4">
            <div class="row justify-content-center">
<!--                <h2 class="text-center mb-5">Welcome to Medical Rehapp<span sec:authorize="isAuthenticated()"-->
<!--                               th:text="${', ' + #strings.toLowerCase(authRole) + ' ' + authName}"></span>!-->
<!--                </h2>-->
                <h2 class="text-center mb-5">Welcome to Medical Rehapp!</h2>
                <p>Our friendly staff is always ready to help guide you through your rehabilitation process while our doctors are hard at work making you better.</p>
                <p>You can read more about us <a th:href="@{/about}">here</a>.</p>
                <p>Sign up to read more about our doctors and treatments.</p>
                <p>If you are a new employee of the company, wait for the administrator to open access.</p>
            </div>
        </div>
    </div>

    <div th:replace="footer :: content"></div>
</body>
</html>