<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Prescription</title>
    <div th:replace="doc-style :: content"></div>

</head>
<body class="d-flex flex-column">
    <div th:replace="header :: content"></div>
    <div id="page-content">
        <div class="container">
            <h2 class="text-center">Prescription</h2>
            <form action="#" th:action="@{/patient/{insuranceNumber}/prescription/{uuid}
                  (insuranceNumber=*{patient.insuranceNumber}, uuid=*{uuid})}"
                  th:object="${prescription}" th:method="post">
                <div class="row">
                    <div class="col-sm">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Patient</h5>
                                <br>
                                <p th:text="'Full name: ' + *{patient.name}" class="card-text"></p>
                                <input type="hidden" th:field="*{patient.insuranceNumber}">
                                <p th:text="'Insurance number: ' + *{patient.insuranceNumber}" class="card-text"></p>
                                <p th:text="'Diagnosis: ' + *{patient.diagnosis}" class="card-text"></p>
                                <p th:text="'Doctor: ' + *{patient.doctor.user.name}" class="card-text"></p>
                            </div>
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary m-1">
                        <a th:href="@{/patient/{insuranceNumber}/prescription/{uuid}/cancel
                           (insuranceNumber=*{patient.insuranceNumber}, uuid=*{uuid})}" role="button"
                           th:unless="${uuid == null}" class="btn btn-danger">Cancel prescription</a>
                    </div>
                    <div class="col-sm-8">
                        <label for="treatment-type" class="fw-bold">Treatment type</label>
                        <br>
                        <div id="treatment-type">
                            Select treatment:
                            <select th:field="*{treatment.name}" id="treatment" class="form-select"
                                    onchange="hideDosage(this);">
                                <option th:each="treatment : ${treatments}"
                                        th:value="${treatment.name}"
                                        th:text="${treatment.name + ' (' + treatment.type.label + ')'}">
                                </option>
                            </select>
                            <br>
                            <div id="dosage-info">
                                <label for="dosage">Dosage (of medicine): </label>
                                <div class="row" id="dosage">
                                    <div class="col-sm">
                                        <input type="number" th:field="*{dosage}" min="0" max="1e+8"
                                               class="form-control" required>
                                    </div>
                                    <div class="col-sm">
                                        <select th:field="*{dosageUnit}" class="form-select">
                                            <option th:each="dosageUnit : ${dosageUnits}"
                                                    th:value="${dosageUnit}"
                                                    th:text="${dosageUnit.label}"></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <label for="time-pattern" class="fw-bold">Time pattern</label>
                        <br>
                        <div class="row" id="time-pattern">
                            <div class="col-sm">
                                <label for="time-basis">Select time basis: </label>
                                <br>
                                <div id="time-basis">
                                    <input type="radio" name="time-basis" class="btn-check" id="daily"
                                           data-bs-toggle="collapse" data-bs-target=".timeCollapse.show" required
                                           th:field="*{timePattern.timeBasis}"
                                           th:value="${T(com.telekom.javaschool.medicalrehapp.entity.TimeBasis).DAILY}">
                                    <label class="btn btn-outline-secondary m-1" for="daily">Daily</label>
                                    <input type="radio" name="time-basis" class="btn-check" id="weekly"
                                           data-bs-toggle="collapse" data-bs-target=".timeCollapse:not(.show)"
                                           th:field="*{timePattern.timeBasis}"
                                           th:value="${T(com.telekom.javaschool.medicalrehapp.entity.TimeBasis).WEEKLY}">
                                    <label class="btn btn-outline-secondary m-1" for="weekly">Weekly</label>
                                    <div class="collapse timeCollapse">
                                        <div class="card card-body">
                                            Choose days of week:
                                            <div class="form-check" th:each="day : ${daysOfWeek}">
                                                <input type="checkbox" class="form-check-input" id="week-day" th:id="${day.dayOfWeek}"
                                                       th:field="*{timePattern.timePatternElement}"
                                                       th:value="${day}">
                                                <label class="form-check-label" th:for="${day.dayOfWeek}" th:text="${day.dayOfWeek}"></label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm">
                                <label for="frequency" class="form-label">Frequency, per day: </label>
                                <output id="num">1</output>
                                <input type="range" th:field="*{timePattern.dailyFrequency}"
                                       class="form-range" min="1" max="4" id="frequency"
                                       value="1" oninput="num.value = this.value">
                            </div>
                        </div>
                        <br>
                        <div th:switch="*{uuid}">
                            <div th:case="null">
                                <label for="period" class="fw-bold">Period</label>
                                <br>
                                <div class="row" id="period">
                                    <div class="col-sm">
                                        <input type="number" th:field="*{periodValue}" min="1" max="30" step="1"
                                               class="form-control" placeholder="from 1 to 30" required>
                                    </div>
                                    <div class="col-sm">
                                        <select th:field="*{periodUnit}" class="form-select">
                                            <option th:value="${#strings.toUpperCase(T(java.time.temporal.ChronoUnit).DAYS)}">days</option>
                                            <option th:value="${#strings.toUpperCase(T(java.time.temporal.ChronoUnit).WEEKS)}">weeks</option>
                                            <option th:value="${#strings.toUpperCase(T(java.time.temporal.ChronoUnit).MONTHS)}">months</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div th:case="*">
                                <div class="row">
                                    <div class="col-sm">
                                        <label for="endDate" class="fw-bold">Date of end of treatment</label>
                                        <br>
                                        <input type="date" th:field="*{endDate}" id="endDate"
                                               class="form-control" required>
                                    </div>
                                    <div class="col-sm"></div>
                                </div>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div th:replace="footer :: content"></div>
    <script>
        endDate.min = new Date().toLocaleDateString('en-ca');
    </script>
    <script>
        function hideDosage(treatment) {
            const text = treatment.options[treatment.selectedIndex].text;
            const element = document.getElementById('dosage-info');
            if (text.includes("Medicine")) {
                element.style.display = 'block';
            }
            else {
                element.style.display = 'none';
            }
        }
    </script>
</body>
</html>