<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>List of users</title>
    <div th:replace="doc-style :: content"></div>
</head>
<body>
    <div th:replace="header :: content"></div>
    <div id="page-content">
        <div class="container text-center">
            <div class="row justify-content-center">
                <div class="row">
                    <div class="col-sm text-start">
                        <h2>Users</h2>
                    </div>
                    <div class="col-sm text-end">
                        <a th:href="@{/add-user}" role="button"
                           class="btn btn-primary">Add new user</a>
                    </div>
                </div>
                <div th:switch="${users}">
                    <h2 th:case="null">No users registered</h2>
                    <div th:case="*">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">Login</th>
                                <th scope="col">Name</th>
                                <th scope="col">Role</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user : ${users}">
                                <td th:text="${user.login}"></td>
                                <td th:text="${user.name}"></td>
                                <td th:text="${user.role}"></td>
                                <td><a th:href="@{/user/{login}(login=${user.login})}"
                                       role="button" class="btn btn-sm btn-primary">Edit</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="footer :: content"></div>
</body>
</html>