<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <div th:replace="doc-style :: content"></div>
</head>
<body class="d-flex flex-column">
    <div th:replace="header :: content"></div>
    <div id="page-content">
        <div class="container">
            <h2 class="text-center">Edit user profile</h2>
            <form action="#" th:action="@{/user/edit}" th:object="${user}" th:method="post">
                <div class="row">
                    <div class="col-sm">
                        <label for="login">Login: </label>
                        <br>
                        <input type="text" th:field="*{login}" id="login"
                               readonly class="form-control-plaintext fw-bold">
                        <br>
                        <label for="name">Full name: </label>
                        <br>
                        <input type="text" th:field="*{name}" id="name" placeholder="name" class="form-control">
                        <br>
                    </div>
                    <div class="col-sm">
                        <label for="radio">Select user role: </label>
                        <div id="radio">
                            <th:block th:each="role : ${roles}">
                                <input type="radio" class="btn-check"
                                       th:id="${role}" th:field="*{role}" th:value="${role}" autocomplete="off">
                                <label class="btn btn-outline-secondary m-1" th:for="${role}" th:text="${role}"></label>
                            </th:block>
                        </div>
                    </div>
                </div>
                <input type="submit" class="btn btn-primary m-1" value="Save">
                <a th:href="@{/user}" role="button"
                   class="btn btn-primary m-1">Return</a>
            </form>
        </div>
    </div>
    <div th:replace="footer :: content"></div>
</body>
</html>